/* nav bar */

/* section-one */
.section-one h1{
	color: red;
	padding-bottom: 3%;
}
.section-one input{
	border-top: none;
	border-right: none;
	border-left: none;
	width: 91%;
	color: black;
}
.section-one .fa{
	font-size: 150%;
}
.section-one p{
	background-color: green;
	padding-right: 3%;
	padding-left: 3%;
	color: white;
}
.section-one{
	padding-bottom: 4%;
}
.btn-lg {
    padding: 0px 0px;
    font-size: 0px;
    line-height: 0;
    border-radius: 10px;
}
img {	
	width: 11%;
	background-color: #edecec;
	margin: 2% 2%;
	padding: 4% 1%;
}
